
export PYTHONPATH=~/AI/deploying-machine-learning-models/packages/regression_model
export PYTHONPATH=~/AI/deploying-machine-learning-models/packages/ml_api
export PIP_EXTRA_INDEX_URL=https://Wfeyh3jkb2sLWUevgJc5@pypi.fury.io/imoisejevs/ 
